.block
  = link_to "New message", new_message_path
  %h2 Messages
  - for message in @messages
    .content
      %h2.title= link_to message.title, message
      .inner
        %p.author from #{message.author}
